{% extends 'shared/_MainHtml.html' %}
{% load render_partial %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section id="do_action">
                    <div class="col-sm-8">
                        <div class="total_area">
                            <ul>
                                <li>مجمـوع <span>{{total}}</span></li>
                            </ul>
                            <a class="btn btn-danger update " href="/products">به روز رسانی سبـد خریـد </a>
                            <a class="btn btn-success check_out col-md-4" href="/payment_section">پرداخت</a>
                        </div>
                    </div>
                </section>
            </div>
            {% render_partial "user_sidebar" %}
        </div>
    </div>
    <section id="cart_items">
                    <div class="container">
                        {% if order != None and details|length > 0 %}
                            <div class="table-responsive cart_info">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr class="cart_menu">
                                        <td class="image">کـالا</td>
                                        <td class="description"></td>
                                        <td class="price">قیمت</td>
                                        <td class="quantity">تعـداد</td>
                                        <td class="total">مجمـوع</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for detail in details %}
                                        <tr>
                                            <td class="cart_product">
                                                <a href=""><img src="{{ detail.product.image.url }}" alt=""
                                                                style="width: 110px;height: 110px"></a>
                                            </td>
                                            <td class="cart_description">
                                                <h4><a href="">{{ detail.product.title }}</a></h4>
                                                <p>شناسـه : {{ detail.product.id }}</p>
                                            </td>
                                            <td class="cart_price">
                                                <p>{{ detail.product.price }} ريال</p>
                                            </td>
                                            <td class="cart_quantity">
                                                <div class="cart_quantity_button">
                                                   <span>{{ detail.count }}</span>
                                                </div>
                                            </td>
                                            <td class="cart_total">
                                                <p class="cart_total_price">{{ detail.get_detail_sum }}$</p>
                                            </td>
                                            <td class="cart_delete">
                                                <a class="cart_quantity_delete" href="/remove-item/{{detail.id}}"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="alert alert-warning">
                                <p>هیچ محصولی در سبد خرید شما یافت نشد</p>
                            </div>
                        {% endif %}
                    </div>
    </section>
{% endblock %}
