{% extends "shared/_MainHtml.html" %}

{% block content %}

      <div class="container">
        <section id="form"><!--form-->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="login-form"><!--login form-->
                        <h2>ورود به حساب کاربـری :</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ form_login.username.label }}
                            {{ form_login.username }}
                            {% for error in form_login.username.errors  %}
                                <p style="color:red;">{{error}}</p>
                            {% endfor %}
                            {{ form_login.password.label }}
                            {{ form_login.password }}
                            {% for error in form_login.password.errors  %}
                                <p style="color:red;">{{error}}</p>
                            {% endfor %}
                            <span>
								<input type="checkbox" class="checkbox">
								مرا بخاطـر بسپـار
							</span>
                            <span>
								<a href="forget-password.html">رمـز عبـور خود را فراموش کرده ام</a>
							</span>
                            <button type="submit" class="btn btn-success">ورود</button>
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </section>
    </div>
{% endblock  %}